@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Momo+Trust+Display&display=swap');

.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{

    display: flex;
    background-color: rgb(193, 231, 243);

}

.header{

    background-color: rgb(39, 149, 185);
    position: sticky;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 20px;

}

.header-links {

    color: white;
    font-family: Momo Trust Display;
    text-decoration: none;
    font-size: 20px;

}

.header-links:hover{

    color: rgb(4, 4, 173);
    font-size: 20.5px;
    transition: all 0.4s;

}

.LOGO {

    color: rgb(255, 255, 255);
    position: absolute;
    font-family: Momo Trust Display;
    font-size: 14px;

}

.inform-text {
    font-family: Momo Trust Display;
    position: absolute;
    margin:0px;
    top: 90px;
    width: 100%;
    display: flex;
    gap: 30px;
    background-color: rgb(95, 166, 185);
    padding: 30px;
    right: 0%;
    margin-top: 30px;
}

.textbereich {
    width: 50%;   
    padding: 20px;
    background-color: rgb(8, 8, 105);
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin-left: 40px;
}

.textbereich:hover{
    width: 50%;   
    padding: 20px;
    background-color: rgb(185, 185, 252);
    padding: 10px;
    border-radius: 10px;
    color: black;
    transition: all 1s;
}


.bildbereich {
    width: 50%;          
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.pic1 {
    width: 100%;         
    max-width: 500px;    
    height: auto;    
    border-radius: 10px;
}

.inform-text2{

    color: black;
    font-family: Momo Trust Display;
    position: relative;
    top: 90px;
    left: 0%;
    margin-top: 400px;
    width: 100%;
    display: flex;
    padding: 30px;
    right: 0%;
}

.textbereich2 {



}

#box1 {

background-color: white;

}

#box2 {

background-color: white;

}